
/node_modules

/public/build
/public/hot
/storage/*.key
/vendor
/dist

.env
.env.backup
.env.production
.env.development
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

!/public/assets
!/public/assets/*
/public/css
/public/js
